.id,
.nicknameInput {
    position: relative;
    display: inline-block;
    font-weight: 600;
    min-width: 111px;
}
.id {
    font-size: var(--font-size-5xl);
    font-family: var(--font-inter);
    color: var(--color-black);
    text-align: left;
    min-width: 24px;
}
.confirmPasswordInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) 0 0;
}
.inputid {
    border: 3px solid var(--color-darkgray);
    outline: 0;
    background-color: var(--color-white);
    align-self: stretch;
    height: 56px;
    position: relative;
    box-sizing: border-box;
    min-width: 185px;
}
.nicknameConfirmation {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-8xs) 0 0;
    box-sizing: border-box;
    min-width: 204px;
}
.nickokChild {
    height: 56px;
    width: 157px;
    position: relative;
    background-color: var(--color-orangered-200);
    display: none;
}
.idok {
    position: relative;
    font-size: var(--font-size-5xl);
    display: inline-block;
    font-weight: 600;
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: left;
    min-width: 119px;
    z-index: 1;
}
.nickok {
    cursor: pointer;
    border: 0;
    padding: var(--padding-sm) var(--padding-lgi) var(--padding-smi);
    background-color: var(--color-orangered-200);
    flex-direction: row;
    white-space: nowrap;
}
.confrimpwd2:hover,
.nextform:hover,
.nickok:hover {
    background-color: var(--color-orangered-100);
}
.frameChild,
.nickok,
.passwordInput {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.passwordInput {
    width: 533px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-lgi);
    max-width: 100%;
}
.frameChild {
    width: 89px;
    border: 0;
    outline: 0;
    background-color: transparent;
    height: 43px;
    flex-direction: column;
    padding: var(--padding-sm) 0 0;
    box-sizing: border-box;
    font-family: var(--font-inter);
    font-style: italic;
    font-weight: 600;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
}
.inputconfpwd {
    height: 56px;
    flex: 1;
    position: relative;
    background-color: var(--color-white);
    border: 3px solid var(--color-darkgray);
    box-sizing: border-box;
    min-width: 201px;
}
.frameItem,
.frameParent,
.passwordInput1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.frameParent {
    width: 409px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-2xs);
    max-width: 100%;
}
.frameItem,
.passwordInput1 {
    box-sizing: border-box;
}
.passwordInput1 {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-30xl);
    max-width: 100%;
}
.frameItem {
    width: 139px;
    border: 0;
    outline: 0;
    background-color: transparent;
    height: 43px;
    flex-direction: column;
    padding: var(--padding-sm) 0 0;
    font-family: var(--font-inter);
    font-style: italic;
    font-weight: 600;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
}
.pwdconff {
    height: 56px;
    flex: 1;
    position: relative;
    background-color: var(--color-white);
    border: 3px solid var(--color-darkgray);
    box-sizing: border-box;
    min-width: 201px;
}
.frameGroup,
.passwordInput2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}
.frameGroup {
    width: 458px;
    flex-wrap: wrap;
    gap: var(--gap-3xs);
}
.passwordInput2 {
    align-self: stretch;
}
.email {
    position: relative;
    font-size: var(--font-size-5xl);
    display: inline-block;
    font-weight: 600;
    font-family: var(--font-inter);
    color: var(--color-black);
    text-align: left;
    min-width: 67px;
}
.emailWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-smi) 0 0;
}
.inputpwd {
    align-self: stretch;
    height: 56px;
    position: relative;
    background-color: var(--color-white);
    border: 3px solid var(--color-darkgray);
    box-sizing: border-box;
}
.inputpwdWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xs) 0 0;
    box-sizing: border-box;
    min-width: 209px;
    max-width: 100%;
}
.confrimpwd2Child {
    height: 56px;
    width: 157px;
    position: relative;
    background-color: var(--color-orangered-200);
    display: none;
}
.emailauthen {
    position: relative;
    font-size: var(--font-size-5xl);
    font-weight: 600;
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: left;
    z-index: 1;
}
.confrimpwd2,
.passwordInput3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.confrimpwd2 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-smi) var(--padding-4xs) var(--padding-sm);
    background-color: var(--color-orangered-200);
    white-space: nowrap;
}
.passwordInput3 {
    width: 569px;
    flex-wrap: wrap;
    gap: var(--gap-xs);
    max-width: 100%;
}
.frameInner,
.pwdcf {
    box-sizing: border-box;
}
.frameInner {
    width: 89px;
    border: 0;
    outline: 0;
    background-color: transparent;
    height: 42px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-smi) 0 0;
    font-family: var(--font-inter);
    font-style: italic;
    font-weight: 600;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
}
.pwdcf {
    height: 56px;
    flex: 1;
    position: relative;
    background-color: var(--color-white);
    border: 3px solid var(--color-darkgray);
    min-width: 201px;
}
.frameContainer,
.passwordInput4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}
.frameContainer {
    width: 409px;
    flex-wrap: wrap;
    gap: var(--gap-2xs);
}
.passwordInput4 {
    align-self: stretch;
    padding: 0 var(--padding-30xl);
    box-sizing: border-box;
}
.nextformChild {
    height: 48px;
    width: 140px;
    position: relative;
    background-color: var(--color-orangered-200);
    display: none;
}
.nexybtn {
    position: relative;
    font-size: var(--font-size-5xl);
    display: inline-block;
    font-weight: 600;
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: left;
    min-width: 89px;
    z-index: 1;
}
.nextform {
    cursor: pointer;
    border: 0;
    padding: var(--padding-4xs) var(--padding-6xl) var(--padding-3xs);
    background-color: var(--color-orangered-200);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.emailInput,
.nextBtnLabel {
    display: flex;
    max-width: 100%;
}
.nextBtnLabel {
    width: 502px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
}
.emailInput {
    margin: 0;
    width: 639px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-13xl);
}
.authInput,
.okButton {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
}
.okButton {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-end;
}
.authInput {
    width: 941px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-42xl);
    text-align: left;
    font-size: var(--font-size-11xl);
    color: var(--color-black);
    font-family: var(--font-inter);
}
@media screen and (max-width: 950px) {
    .nicknameInput {
        font-size: var(--font-size-5xl);
    }
    .authInput {
        gap: 30px 61px;
    }
}
@media screen and (max-width: 700px) {
    .passwordInput1,
    .passwordInput4 {
        padding-left: var(--padding-5xl);
        padding-right: var(--padding-5xl);
        box-sizing: border-box;
    }
    .emailInput {
        gap: 16px 32px;
    }
    .authInput {
        gap: 15px 61px;
    }
}
@media screen and (max-width: 450px) {
    .nicknameInput {
        font-size: var(--font-size-lg);
    }
    .email,
    .id,
    .nexybtn {
        font-size: var(--font-size-lgi);
    }
}
