.signInPage2 {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 0 256px 0;
    box-sizing: border-box;
}
.signInPage2 .app-nupan {
    margin-top: 26px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}
.signInPage2 .line-5 {
    background: #DC6721;
    margin-bottom: 28px;
    width: 100%;
    height: 2px;
}
.signInPage2 .sign-in {
    margin: 2vh 98px 5vh 4vw;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}
.signInPage2 .appNupanIcon{
    width: 79px;
    height: 80px;
    margin-right: 26px;
}

.signInPage2 .logoContainer {
    margin: 0 98px 2vh 4vw;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
}

.signInPage2 .user-name-space {
    border: 3px solid #B0B0B0;
    background: #FFFFFF;
    width: 309px;
    height: 56px;
}

.signInPage2 .user-name {
    margin: 27px 19.8px 0 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}

.signInPage2 .sign-in-request {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
}


.signInPage2 .sign-in-bt {
    background: #FF4C00;
    position: relative;
    margin: 15px 0 0 170px;
    display: flex;
    padding: 9px 14.6px 10px 14px;
    box-sizing: border-box;
    border-radius: 5px;
}
.signInPage2 .idCheckBtn {
    background: #FF4C00;
    position: relative;
    margin-top: 250px;
    display: flex;
    padding: 9px 14px 10px 14px;
    box-sizing: border-box;
    min-width: 70px;
    border-radius: 5px;
}
.signInPage2 .idCheck {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}



.signInPage2 .itemContainer {
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
    margin-left: -8vw;
}

.signInPage2 .textContainer {
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    box-sizing: border-box;
    min-width: 200px;
    padding: 17px 0 30px 0;
}

.signInPage2 .owner-name {
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
.signInPage2 .store-name {
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
.signInPage2 .store-address {
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
.signInPage2 .store-id {
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
.signInPage2 .store-date {
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}


.signInPage2 .inputContainer {
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 309px;
    box-sizing: border-box;
}
.signInPage2 .inputStoreName {
    border: 2px solid #B0B0B0;
    background: #FFFFFF;
    margin-bottom: 20px;
    width: 309px;
    height: 56px;
}
.signInPage2 .inputStoreNum {
    border: 2px solid #B0B0B0;
    background: #FFFFFF;
    margin-bottom: 20px;
    width: 309px;
    height: 56px;
}
.signInPage2 .inputStoreAddress {
    background: #FFFFFF;
    border: 2px solid #B0B0B0;
    margin-bottom: 20px;
    width: 309px;
    height: 56px;
}
.signInPage2 .inputBossName {
    border: 2px solid #B0B0B0;
    background: #FFFFFF;
    margin-bottom: 20px;
    width: 309px;
    height: 56px;
}
.signInPage2 .inputStoreId {
    border: 2px solid #B0B0B0;
    background: #FFFFFF;
    margin-bottom: 20px;
    width: 309px;
    height: 56px;
}

.signInPage2 .btnContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}


