.signInPage {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 0 256px 0;
    box-sizing: border-box;
}
.signInPage .app-nupan {
    margin-top: 26px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}
.signInPage .line-5 {
    background: #DC6721;
    margin-bottom: 28px;
    width: 100%;
    height: 2px;
}
.signInPage .text-auth {
    margin: 2vh 98px 5vh 4vw;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}
.signInPage .appNupanIcon{
    width: 79px;
    height: 80px;
    margin-right: 26px;
}

.signInPage .logoContainer {
    margin: 0 98px 2vh 4vw;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
}

.signInPage .phoneNum {
    margin: 20px 0 29px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
.signInPage .confrimpwd-2 {
    background: #FF4C00;
    position: relative;
    display: flex;
    padding: 19px 9.6px 14px 9px;
    box-sizing: border-box;
}
.signInPage .email-authen {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
}


.signInPage .id-ok {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
}


.signInPage .id {
    margin: 17px 0 18px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
.signInPage .pwd {
    margin: 29px 0 20px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
.signInPage .confirmpwd {
    margin: 26px 0 26px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
.signInPage .name {
    margin: 24px 0 30px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
.signInPage .nexybtn {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
}
.signInPage .nextform {
    background: #FF4C00;
    position: relative;
    margin-left: 145px;
    display: flex;
    padding: 10px 25px 9px 26px;
    width: 140px;
    box-sizing: border-box;
}
.signInPage .nick-ok {
    background: #FF4C00;
    position: relative;
    display: flex;
    padding: 19px 19.7px 14px 19px;
    box-sizing: border-box;
}
.signInPage .itemContainer {

    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.signInPage .textContainer {
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-sizing: border-box;
}

.signInPage .inputContainer {
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 309px;
    box-sizing: border-box;
}
.signInPage .inputid {
    border: 3px solid #B0B0B0;
    background: #FFFFFF;
    margin-bottom: 20px;
    width: 309px;
    height: 56px;
}
.signInPage .inputpwd {
    border: 3px solid #B0B0B0;
    background: #FFFFFF;
    margin-bottom: 20px;
    width: 309px;
    height: 56px;
}
.signInPage .inputpwd2 {
    border: 3px solid #B0B0B0;
    background: #FFFFFF;
    margin-bottom: 20px;
    width: 309px;
    height: 56px;
}
.signInPage .inputName {
    border: 3px solid #B0B0B0;
    background: #FFFFFF;
    margin-bottom: 20px;
    width: 309px;
    height: 56px;
}
.signInPage .inputPhone {
    border: 3px solid #B0B0B0;
    background: #FFFFFF;
    margin-bottom: 20px;
    width: 309px;
    height: 56px;
}

.signInPage .btnContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
