.signInPage .email {
    margin: 13px 12.8px 14px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
.signInPage .authen {
    margin: 13px 11.7px 14px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
.signInPage .inputpwd {
    border: 3px solid #B0B0B0;
    background: #FFFFFF;
    margin-right: 24px;
    width: 309px;
    height: 56px;
}
.signInPage .pwdcf {
    border: 3px solid #B0B0B0;
    background: #FFFFFF;
    width: 309px;
    height: 56px;
}
.signInPage .confrimpwd-2 {
    background: #FF4C00;
    position: relative;
    display: flex;
    padding: 19px 9.6px 14px 9px;
    box-sizing: border-box;
}
.signInPage .email-authen {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
}
.signInPage .container {
    margin: 0 0 32px 69px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.signInPage {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 59px 0 256px 0;
    width: 1440px;
    box-sizing: border-box;
}
.signInPage .app-nupan {
    margin: 0 98px 59px 98px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}
.signInPage .line-5 {
    background: #000000;
    margin-bottom: 28px;
    width: 1440px;
    height: 1px;
}
.signInPage .text-auth {
    margin: 0 98px 61px 98px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}
.signInPage .inputid {
    border: 3px solid #B0B0B0;
    background: #FFFFFF;
    margin-right: 24px;
    width: 309px;
    height: 56px;
}
.signInPage .id {
    margin: 10px 19px 17px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
.signInPage .id-ok {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
}
.signInPage .inputconfpwd {
    border: 3px solid #B0B0B0;
    background: #FFFFFF;
    width: 309px;
    height: 56px;
}
.signInPage .pwdconff {
    border: 3px solid #B0B0B0;
    background: #FFFFFF;
    width: 309px;
    height: 56px;
}
.signInPage .pwd {
    margin: 14px 11.7px 13px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
.signInPage .confrimpwd {
    margin: 14px 10.6px 13px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
.signInPage .nexybtn {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
}
.signInPage .nextform {
    background: #FF4C00;
    position: relative;
    margin-left: 136px;
    display: flex;
    padding: 10px 25px 9px 26px;
    width: 140px;
    box-sizing: border-box;
}
.signInPage .nick-ok {
    background: #FF4C00;
    position: relative;
    display: flex;
    padding: 19px 19.7px 14px 19px;
    box-sizing: border-box;
}
.signInPage .container-1 {
    margin: 0 133px 32px 0;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.signInPage .container-2 {
    margin: 0 133px 32px 0;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.signInPage .container-3 {
    margin: 0 182px 32px 0;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.signInPage .container-4 {
    margin: 0 0 32px 105px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}