.signInPage2 {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vh 0 256px 0;
    box-sizing: border-box;
}
.signInPage2 .app-nupan {
    margin: 0 98px 5vh 4vw;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}
.signInPage2 .line-5 {
    background: #000000;
    margin-bottom: 28px;
    width: 100%;
    height: 1px;
}
.signInPage2 .sign-in {
    margin: 2vh 98px 5vh 4vw;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}




.signInPage2 .user-name-space {
    border: 3px solid #B0B0B0;
    background: #FFFFFF;
    width: 309px;
    height: 56px;
}

.signInPage2 .user-name {
    margin: 27px 19.8px 0 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}

.signInPage2 .sing-in-request {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
}


.signInPage2 .sign-in-bt {
    background: #FF4C00;
    position: relative;
    margin: 15px 0 0 280px;
    display: flex;
    padding: 9px 14.6px 10px 14px;
    box-sizing: border-box;
}
.signInPage2 .idCheckBtn {
    background: #FF4C00;
    position: relative;
    margin-top: 255px;
    display: flex;
    padding: 9px 14.6px 10px 14px;
    box-sizing: border-box;

}



.signInPage2 .itemContainer {
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
    margin-left: -8vw;
}

.signInPage2 .textContainer {
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-sizing: border-box;
}
.signInPage2 .store-date {
    margin: 17px 0 29px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
.signInPage2 .store-name {
    margin: 17px 0 29px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
.signInPage2 .phone-num {
    margin: 29px 0 29px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
.signInPage2 .store-address {
    margin: 29px 0 29px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
.signInPage2 .store-office {
    margin: 24px 0 34px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}


.signInPage2 .inputContainer {
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 309px;
    box-sizing: border-box;
}
.signInPage2 .inputStoreName {
    border: 3px solid #B0B0B0;
    background: #FFFFFF;
    margin-bottom: 20px;
    width: 309px;
    height: 56px;
}
.signInPage2 .inputStoreNum {
    border: 3px solid #B0B0B0;
    background: #FFFFFF;
    margin-bottom: 20px;
    width: 309px;
    height: 56px;
}
.signInPage2 .inputStoreAddress {
    background: #FFFFFF;
    border: 3px solid #B0B0B0;
    margin-bottom: 20px;
    width: 309px;
    height: 56px;
}
.signInPage2 .inputBossName {
    border: 3px solid #B0B0B0;
    background: #FFFFFF;
    margin-bottom: 20px;
    width: 309px;
    height: 56px;
}
.signInPage2 .inputStoreId {
    border: 3px solid #B0B0B0;
    background: #FFFFFF;
    margin-bottom: 20px;
    width: 309px;
    height: 56px;
}

.signInPage2 .btnContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}


