.signInCom {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 2vh 0 359px 0;
    box-sizing: border-box;
}
.signInCom .app-nupan {
    margin-top: 26px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}
.signInCom .line-5 {
    background: #DC6721;
    margin-bottom: 28px;
    width: 100%;
    height: 2px;
}
.signInCom .appNupanIcon{
    width: 79px;
    height: 80px;
    margin-right: 26px;
}

.signInCom .logoContainer {
    margin: 0 98px 2vh 4vw;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
}

.signInCom .itemContainer {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin: 36px 4vw;
    min-width: 800px;
}

.signInCom .sign-in-complete {
    margin: 0 0 130px 36px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 50px;
    color: #000000;
}
.signInCom .waitting-for-admin {
    margin: 0 0 90px 36px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}
.signInCom .to-main-bt {
    margin-left: 36px;
    background: #FF4C00;
    position: relative;
    display: flex;
    padding: 16px 22px 16px 23px;
    width: fit-content;
    box-sizing: border-box;
}
.signInCom .to-main {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
}
