.appNupan,
.i {
    position: absolute;
    top: 59px;
    left: 98px;
    font-size: var(--font-size-11xl);
    font-weight: 600;
}
.i {
    top: 183px;
}
.child {
    top: 153.5px;
    left: -0.5px;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 1441px;
    height: 1px;
}
.child,
.div1,
.id {
    position: absolute;
}
.id {
    top: 280px;
    left: 549px;
    background-color: var(--color-white);
    border: 3px solid var(--color-darkgray);
    box-sizing: border-box;
    width: 309px;
    height: 56px;
}
.div1 {
    top: 368px;
}
.div1,
.div2,
.div3 {
    left: 549px;
    background-color: var(--color-white);
    border: 3px solid var(--color-darkgray);
    box-sizing: border-box;
    width: 309px;
    height: 56px;
}
.div2 {
    position: absolute;
    top: 456px;
}
.div3 {
    top: 544px;
}
.div3,
.div4,
.i1,
.id1 {
    position: absolute;
}
.div4 {
    top: 632px;
    left: 549px;
    background-color: var(--color-white);
    border: 3px solid var(--color-darkgray);
    box-sizing: border-box;
    width: 309px;
    height: 56px;
}
.i1,
.id1 {
    top: 290px;
    left: 506px;
    font-weight: 600;
}
.i1 {
    top: 382px;
    left: 449px;
}
.item {
    top: 0;
    left: 0;
    background-color: var(--color-orangered);
    width: 157px;
    height: 56px;
}
.div5,
.id2,
.item {
    position: absolute;
}
.id2 {
    top: 14px;
    left: 19px;
    font-weight: 600;
}
.div5 {
    top: 280px;
    left: 882px;
    width: 157px;
    height: 56px;
    color: var(--color-white);
}
.i2 {
    top: 13px;
    left: 9px;
    font-weight: 600;
}
.div6,
.i2,
.i3,
.i4 {
    position: absolute;
}
.div6 {
    top: 544px;
    left: 882px;
    width: 157px;
    height: 56px;
    color: var(--color-white);
}
.i3,
.i4 {
    top: 470px;
    left: 400px;
    font-weight: 600;
}
.i4 {
    top: 557px;
    left: 470px;
}
.rectangleDiv {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-orangered);
    width: 140px;
    height: 48px;
}
.i5 {
    top: 9px;
    left: 25px;
    font-weight: 600;
}
.div7,
.i5,
.i6 {
    position: absolute;
}
.div7 {
    top: 720px;
    left: 718px;
    width: 140px;
    height: 48px;
    color: var(--color-white);
}
.i6 {
    top: 645px;
    left: 449px;
    font-weight: 600;
}
.div {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
    font-family: var(--font-inter);
}
