@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,500;0,600;1,600&display=swap");
body {

    line-height: normal;
    font-family: 'Inter', Arial, sans-serif;
    -webkit-font-smoothing: antialiased; /* Safari와 Chrome에서 안티앨리어싱 활성화 */
    -moz-osx-font-smoothing: grayscale; /* Firefox에서 그레이스케일 안티앨리어싱 활성화 */
    margin: 0; /* 기본 마진 제거 */
    padding: 0; /* 기본 패딩 제거 */
}
:root {
    /* fonts */
    --font-inter: Inter;

    /* font sizes */
    --font-size-11xl: 30px;
    --font-size-5xl: 24px;
    --font-size-lgi: 19px;
    --font-size-lg: 18px;



    /* Colors */
    --color-white: #fff;
    --color-black: #000;
    --color-orangered-100: #ff661a;
    --color-orangered-200: #ff4c00;
    --color-darkgray: #b0b0b0;
    /* Colors */
    --color-orangered: #ff4c00;

    --color-gainsboro: #d9d9d9;
    --color-silver: #bfbfbf;
    --color-cornflowerblue: #4097e8;


    /* Gaps */
    --gap-42xl: 61px;
    --gap-mini: 15px;
    --gap-11xl: 30px;
    --gap-13xl: 32px;
    --gap-base: 16px;
    --gap-2xs: 11px;
    --gap-xs: 12px;
    --gap-3xs: 10px;
    --gap-lgi: 19px;
    --gap-8xl: 27px;
    --gap-lg: 18px;
    --gap-xl: 20px;
    --gap-52xl: 71px;
    --gap-16xl: 35px;
    --gap-40xl: 59px;
    --gap-10xl: 29px;
    --gap-5xs: 8px;

    /* Paddings */
    /* Paddings */
    --padding-35xl: 54px;
    --padding-52xl: 71px;
    --padding-57xl: 76px;
    --padding-19xl: 38px;
    --padding-16xl: 35px;
    --padding-15xl: 34px;
    --padding-9xl: 28px;
    --padding-3xl: 22px;
    --padding-4xs: 9px;
    --padding-2xl: 21px;
    --padding-lg: 18px;
    --padding-xs: 12px;
    --padding-base: 16px;
    --padding-5xl: 24px;
    --padding-12xs: 1px;
    --padding-11xs: 2px;
    --padding-xl: 20px;
    --padding-28xl: 47px;
    --padding-4xl: 23px;

    --padding-40xl: 59px;
    /* Paddings */

    --padding-6xl: 25px;
    --padding-3xs: 10px;
    --padding-30xl: 49px;

    --padding-smi: 13px;
    --padding-sm: 14px;

    --padding-lgi: 19px;
    --padding-8xs: 5px;
    /* Border radiuses */
    --br-3xs: 10px;
}
