.id1-1 {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vh 0 331px 0;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container1-1 {
    margin-right: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 297px;
    box-sizing: border-box;
}

.container1-2 {
    margin: 0 0 53px 106.7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 424.7px;
    box-sizing: border-box;
}
.app-nupan1-2 {
    margin: 0 98px 5vh 4vw;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}
.id1-2 {
    margin-right: 14.5px;
    width: 246.5px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
}
.id1 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
}
.id1-3 {
    background: #FF4C00;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 36px 14px 37px 13px;
    box-sizing: border-box;
    width: 109px;
    height: 109px;

}
.line1-5 {
    background: #000000;
    margin-bottom: 25vh;
    width: 100%;
    height: 1px;
}
.id1-4 {
    border: 4px solid #FF4C00;
    background: #FFFFFF;
    margin-bottom: 17px;
    width: 297px;
    height: 46px;
}
.id1-5 {
    border: 4px solid #FF4C00;
    background: #FFFFFF;
    width: 297px;
    height: 46px;
}
.app-nupan1-6 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    color: #515151;
}
.mdiinformation-outline1 {
    margin: 4px 5px 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}
.vector1 {
    width: 20px;
    height: 20px;
}
.info1 {
    margin-right: 137.3px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.id1-7 {
    margin-bottom: 34px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
}
.id1-8 {
    margin-right: 0.3px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
}
.id1-9 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #FFFFFF;
    width: 83px;
    height: 36px;
}
.container1-10 {
    margin: 9px 19.4px 8px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-sizing: border-box;
    width: 89px;
}
.container1-11 {
    margin: 0 1px 17px 0;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
