* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Inter', sans-serif;
    background: #FFFFFF;
}

.main-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*min-height: 100vh;*/
    padding: 2vh 0;
    box-sizing: border-box;
}

.header1 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
    background-color: #FFFFFF;
}

.logo1 {
    display: flex;
    align-items: center;
}

.appNupanIcon1 {
    width: 79px;
    height: 80px;
    margin-right: 20px;
}

.app-title1 {
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}

.container1-11 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 130px;
}

.form-group label {
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    margin-right: 10px;
    width: 100px;
    text-align: right;
}

.form-group input {
    border: 2px solid #FF4C00;
    width: 300px;
    height: 46px;
    padding: 0 10px;
}

.id1-3 {
    background: #FF4C00;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    /*margin-left: 130px;*/
}

.id1-9 {
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}

.container1-2 {
    display: flex;
    justify-content: space-between;
    width: 320px;
    margin-bottom: 50px;
    margin-left: 115px;
}

.id1-2, .id1 {
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    cursor: pointer;
}

.main-container2 {
    align-items: center;
    justify-content: center;
}

.info1 {
    display: flex;
    align-items: center;
    margin-left: 150px;
}

.app-nupan1-6 {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    color: #515151;
}
