.container-2-ad {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 2vh 0 256px 0;
    box-sizing: border-box;
}

.container-ad {
    margin-right: 4vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}
.app-nupan-ad {
    margin-top: 26px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}
.more-menu-bt-ad {
    margin-top: 26px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 31.7px;
    height: 28.3px;
    box-sizing: border-box;
}
.line-5-ad{
    background: #DC6721;
    margin-bottom: 58px;
    width: 100%;
    height: 2px;
}
.logoContainer-main {
    margin: 0 98px 2vh 4vw;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
}
.appNupanIcon-main {
    width: 79px;
    height: 80px;
    margin-right: 26px;
}


.vector-ad {
    width: 31.7px;
    height: 28.3px;
}

.userWelcome {
    margin-left: 4vw;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.storeName {
    margin-right: 28.2px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}

.container-122-ad {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}

.container-1-ad {
    display: flex;
    flex-direction: row;
    align-self: center;
    column-gap: 8vw;
    box-sizing: border-box;
}

.user-name-ad {
    margin: 0 98px 14px 0;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}
 .container-3-ad {
    margin-right: 1.6px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #FFFFFF;
}
.container-4-ad {
    border-radius: 10px;
    background: #FF4C00;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24.7px 0 37.9px 0;
    width: 250px;
    box-sizing: border-box;
}
.solarclipboard-list-outline-ad {
    margin: 0 0 19.1px 3.6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 120px;
    height: 132.3px;
    box-sizing: border-box;
}
.vector-5-ad {
    width: 120px;
    height: 132.3px;
}
.container-5-ad {
    margin-right: 13.3px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #FFFFFF;
}
.epmenu-ad {
    margin-bottom: 18.7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 112.5px;
    height: 112.5px;
    box-sizing: border-box;
}
 .vector-6-ad {
    width: 112.5px;
    height: 112.5px;
}
.container-6-ad {
    border-radius: 10px;
    background: #4097E8;
    position: relative;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 29.8px 0 23px 0;
    width: 220px;
    height: fit-content;
    box-sizing: border-box;
}
.qr-ad {
    border-radius: 10px;
    background: #3FDF31;
    position: relative;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0 23px 0;
    width: 220px;
    height: fit-content;
    box-sizing: border-box;
}
 .qr-1-ad {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 28px;
    color: #FFFFFF;
}
.biqr-code-scan-ad {
    margin: 0 0 7px 0.1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 140px;
    height: 140px;
    box-sizing: border-box;
}
 .group-ad {
    width: 140px;
    height: 140px;
}
.container-2111-ad {
    margin: 0 111px 88px 0;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}

/*마이페이지, 로그아웃*/
.moreContainer-main {
    border-radius: 20px;
    border: 1px solid #000000;
    background: #FFFFFF;
    position: absolute;
    margin-bottom: 7px;
    display: flex;
    flex-direction: column;
    padding: 24px 0 36px 15px;
    width: 136px;
    box-sizing: border-box;
    top: 67px;
    left: 88vw;
}
.goToMyPage-main {
    margin-bottom: 21px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}
.goToLogout-main {
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}
/*마이페이지, 로그아웃*/
