
#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.qrCRUD {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*min-height: 100vh;*/
    background-color: #f5f5f5;
}

.headerContainer-qr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logoContainer-qr {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.appNupanIcon-qr {
    width: 60px;
    height: 60px;
    margin: 10.5px 10px 10.5px 0;
}

.app-nupan11 {
    font-size: 2rem; /* 텍스트 크기를 늘림 */
    font-weight: bold;
    font-style: italic;
}

.goBackBtn-qr {
    background-color: #d9d9d9;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    margin-right: 20px;
}

goBackBtn-qr:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}


.container-511 {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 900px;
    align-items: center;
    margin-bottom: 20px;
}

.table-number11 {
    font-size: 1.5rem;
    font-weight: bold;
}

.table-add-bt {
    background: #FF4C00;
    padding: 10px 20px;
    border-radius: 10px;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;
}

.table-add-bt:hover {
    transform: scale(1.05);
}

.table-no-111 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 900px;
    background: #FFF;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.2s;
}

.table-no-111:hover {
    transform: scale(1.05);
}

.container11 {
    display: flex;
    align-items: center;
}

.qradd-bt-111 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.qradd-bt-111 canvas {
    width: 100px;
    height: 100px;
}

.qrDetailFrame {
    background: #FFFFFF;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 380px;
}

.table-no {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 80px;
    font-size: 1.5rem;
    font-weight: bold;
}

.qr-code {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;

}

.qr-code canvas {
    width: 200px;
    height: 200px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.close-bt, .qr-print-bt {
    background: #D9D9D9;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;
}

.close-bt:hover, .qr-print-bt:hover {
    transform: scale(1.05);
}

.qrAddEvntFrame {
    background: #FFFFFF;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    align-items: center;
}

.show-tableframe {
    display: flex !important;
}

.tableAddTxt {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.table-add-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.setTableAddTxt, .tableCountTxt {
    font-size: 1.2rem;
    font-weight: bold;
}

.eventReduceBtn, .eventAddBtn {
    background: #D9D9D9;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
}

.eventReduceBtn:hover, .eventAddBtn:hover {
    transform: scale(1.05);
}

.eventBtnContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.evntSaveBtn, .evntCancelBtn {
    background: #D9D9D9;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;
}

.evntSaveBtn:hover, .evntCancelBtn:hover {
    transform: scale(1.05);
}
