.container4 {
    margin: 0 97px 32px 0;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.container4-1 {
    margin: 0 140px 32px 0;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.id44-2 {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 59px 0 432px 0;
    width: 1440px;
    box-sizing: border-box;
}
.id4 {
    border: 3px solid #B0B0B0;
    background: #FFFFFF;
    width: 309px;
    height: 56px;
}
.id4-2 {
    border: 3px solid #B0B0B0;
    background: #FFFFFF;
    width: 309px;
    height: 56px;
}
.id4-3 {
    margin: 27px 19.8px 0 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
.id4-4 {
    margin: 14px 18.7px 13px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
.id4-5 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
}
.app-nupan4 {
    margin: 0 98px 59px 98px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}
.id4-6 {
    margin: 0 98px 61px 98px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}
.line4-5 {
    background: #000000;
    margin-bottom: 28px;
    width: 1440px;
    height: 1px;
}
.id4-7 {
    border: 3px solid #B0B0B0;
    background: #FFFFFF;
    width: 309px;
    height: 56px;
}
.id4-8 {
    margin: 14px 18.5px 13px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
.id4-9 {
    background: #FF4C00;
    position: relative;
    margin-left: 109px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 9px 14.6px 10px 14px;
    box-sizing: border-box;
}
.container4-10 {
    margin: 0 212px 32px 0;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
