.id5 {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 59px 0 359px 0;
    width: 1440px;
    box-sizing: border-box;
}
.app-nupan5 {
    margin: 0 98px 59px 98px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}
.line5-5 {
    background: #000000;
    margin-bottom: 105px;
    width: 1440px;
    height: 1px;
}
.id5-1 {
    margin: 0 394.7px 82px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 50px;
    color: #000000;
}
.id5-2 {
    margin: 0 723.2px 165px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}
.id5-3 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
}
.id5-4 {
    background: #FF4C00;
    position: relative;
    margin-right: 894px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px 1.6px 16px 0;
    width: 184px;
    box-sizing: border-box;
}
