.orderCheck {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 2vh 0 102px 0;
    box-sizing: border-box;
}
.orderCheck .app-nupan {
    margin-top: 26px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
    width: 165px;
    height: 36px;
}
.orderCheck .line-5 {
    background: #DC6721;
    margin-bottom: 28px;
    width: 100%;
    height: 2px;
}
.orderCheck .order-check {
    margin: 2vh 98px 5vh 4vw;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}
.orderCheck .appNupanIcon{
    width: 79px;
    height: 80px;
    margin-right: 26px;
}

.orderCheck .headerContainer{
    margin-right: 4vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}
.orderCheck .logoContainer {
    margin: 0 98px 2vh 4vw;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
}


/*뒤로가기 버튼*/
.orderCheck .goBackBtn {
    border-radius: 10px;
    background: #D9D9D9;
    position: relative;
    display: flex;
    margin-top: 12px;
    padding: 14px 14.7px 13px 16px;
    box-sizing: border-box;
    width: 117px;
    height: 54px;
}
.orderCheck .goBackTxt {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    width: 89px;
    height: 29px;
}
/*뒤로가기 버튼*/


/*오더 컨테이너*/
.orderCheck .order-no-4 {

    margin-bottom: 21px;
    display: flex;
    flex-direction: row;
    width: 97.5%;
    box-sizing: border-box;
}
.orderCheck .order-no-3 {
    margin-bottom: 21px;
    display: flex;
    flex-direction: row;
    width: 1135px;
    box-sizing: border-box;
}
.orderCheck .order-no-2 {
    position: relative;
    margin-bottom: 21px;
    display: flex;
    padding-bottom: 1px;
    width: 1135px;
    box-sizing: border-box;
}
.orderCheck .order-no-1 {
    display: flex;
    flex-direction: row;
    width: 1135px;
    box-sizing: border-box;
}
/*오더 컨테이너*/

/*오더 인포 컨테이너*/
.orderCheck .order4InfoContainer {
    background: #FFFFFF;
    position: relative;
    margin-right: 3.4%;
    display: flex;
    flex-direction: row;
    padding: 0 37.8px 0 13px;
    width: 1065px;
    box-sizing: border-box;
    border: 1px solid #000000;
}
.orderCheck .order3InfoContainer {
    background: #FFFFFF;
    position: relative;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    padding: 0 37.8px 0 13px;
    width: 1065px;
    box-sizing: border-box;
    border: 1px solid #000000;
}
.orderCheck .order2Info2Container {
    background: #FFFFFF;
    position: relative;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    padding: 0 37.8px 0 13px;
    width: 1065px;
    box-sizing: border-box;
    border: 1px solid #000000;
}
.orderCheck .order1Info1Container {
    background: #FFFFFF;
    position: relative;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    padding: 0 37.8px 0 13px;
    width: 1065px;
    box-sizing: border-box;
    border: 1px solid #000000;
}
/*오더 인포 컨테이너*/

/*오더 세부컨테이너*/
.orderCheck .orderNoContainer {
    border-right: 1px solid #000000;
    display: flex;
    width: 100px;
}
.orderCheck .orderTableContainer {
    border-right: 1px solid #000000;
    display: flex;
    width: 130px;
}
.orderCheck .orderMenuContainer {
    border-right: 1px solid #000000;
    display: flex;
    width: 250px;
    flex-direction: column;
}
.orderCheck .orderAmountContainer {
    border-right: 1px solid #000000;
    display: flex;
    width: 70px;
    flex-direction: column;
}
.orderCheck .orderPaymentContainer {
    border-right: 1px solid #000000;
    display: flex;
    width: 130px;
    flex-direction: column;
}
.orderCheck .orderPriceContainer {
    margin-right: 13px;
    display: flex;
    flex-direction: column;
}
/*오더 세부컨테이너*/


/*주문정보 테이블*/
.orderCheck .order-number {
    margin-right: 30px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
.orderCheck .order-table {
    margin-right: 25px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
.orderCheck .order-menu {
    margin-right: 160px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
.orderCheck .order-amount {
    margin-right: 33px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
.orderCheck .order-payment {
    margin-right: 52px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
.orderCheck .order-price {
    margin-right: 20px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
.orderCheck .serving-check {
    margin-left: auto;
    margin-right: 5px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
/*주문정보 테이블*/


/*오더 넘버 리스트*/
.orderCheck .order-4 {
    margin: 15px 14.5px 15px 0;
    display: inline-block;
    width: 106px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
.orderCheck .order-3 {
    margin: 15px 14.5px 15px 0;
    display: inline-block;
    width: 106px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
.orderCheck .order-2 {
    margin: 15px 14.5px 15px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
.orderCheck .order-1 {
    margin: 15px 14.5px 15px 0;
    display: inline-block;
    width: 106px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
/*오더 넘버 리스트*/


/*테이블 넘버 리스트*/
.orderCheck .order-4-table {
    margin: 15px 13px 15px 13px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
.orderCheck .order-3-table {
    margin: 15px 13px 15px 13px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
.orderCheck .order-2-table {
    margin: 15px 13px 15px 13px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
.orderCheck .order-1-table {
    margin: 15px 13px 15px 13px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
/*테이블 넘버 리스트*/


/*메뉴 리스트*/
.orderCheck .order-4-menu-1 {
    margin: 15px 0 15px 13px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
.orderCheck .order-3-menu-1 {
    margin: 15px 0 15px 13px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
.orderCheck .order-2-menu-1 {
    margin: 15px 0 15px 13px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
.orderCheck .order-2-menu-2 {
    margin: 0 0 15px 13px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
.orderCheck .order-1-menu-1 {
    margin: 15px 0 15px 13px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
/*메뉴 리스트*/

/*주문 수량*/
.orderCheck .orderAmount {
    margin: 15px 0 0 5px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
/*주문 수량*/

/*결제여부*/
.orderCheck .orderPayment {
    margin: 15px 5px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
/*결제여부*/


/*메뉴가격*/
.orderCheck .orderPrice {
    margin: 15px 5px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
/*메뉴가격*/


.orderCheck .table-list {
    margin-bottom: 21px;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1163px;
    box-sizing: border-box;
}

.orderCheck .order-4-payment {
    margin-right: 14.7px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}

.orderCheck .order-4-menu-1-price {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}

.orderCheck .rectangle-46 {
    border: 1px solid #000000;
    background: #FFFFFF;
    width: 30px;
    height: 30px;
}
.orderCheck .order-4-check {
    margin: 14px 0 15px 0;
    display: flex;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
}

.orderCheck .order-3-check {
    margin: 14px 0 15px 0;
    display: flex;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
}
.orderCheck .rectangle-461 {
    border: 1px solid #000000;
    background: #FFFFFF;
    width: 30px;
    height: 30px;
}




.orderCheck .order-2-check {
    border: 1px solid #000000;
    background: #FFFFFF;
    position: relative;
    margin: 30px 0 39.5px 0;
    display: flex;
    padding: 7.6px 4.8px;
    width: 30px;
    height: 30.5px;
    box-sizing: border-box;
}
.orderCheck .material-symbolscheck {
    display: flex;
    width: 20.4px;
    height: 15.3px;
    box-sizing: border-box;
}
.orderCheck .vector {
    width: 20.4px;
    height: 15.3px;
}

.orderCheck .order-2-menu-1-price {
    margin-bottom: 6.7px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
.orderCheck .order-2-payment {
    margin: 0.3px 14.7px 35.7px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}

.orderCheck .order-1-check {
    border: 1px solid #000000;
    background: #FFFFFF;
    position: relative;
    margin: 14.2px 0 15.3px 0;
    display: flex;
    padding: 7.6px 4.8px;
    width: 30px;
    height: 30.5px;
    box-sizing: border-box;
}
.orderCheck .material-symbolscheck-1 {
    display: flex;
    width: 20.4px;
    height: 15.3px;
    box-sizing: border-box;
}
.orderCheck .vector-1 {
    width: 20.4px;
    height: 15.3px;
}

.orderCheck .order-1-menu-1-price {
    margin: 15.3px 0 15.7px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
.orderCheck .order-1-pay {
    margin: 15.3px 0 15.7px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}

.orderCheck .order-2-menu-2-price {
    margin-right: 0.5px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
.orderCheck .order-list {

    margin-right: 28.3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100.5%;
    max-width: 1164px;
    height: 550px;
    padding-top: 10px;
    box-sizing: border-box;
}
.orderCheck .order-list-table {
    border-radius: 20px;
    border: 3px solid #DC6721;
    background: #FFFFFF;
    position: relative;
    margin: 0 104px 0 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 41px 18.7px 41px 51px;
    width: 85vw;
    min-width: 1000px;
    max-width: 1233px;
    height: 673px;
    box-sizing: border-box;
}
.orderCheck .order-2-pay-check {
    margin: 0 33.5px 36px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
.orderCheck .order-4-pay-check {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}