.adminPageAppManage {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 59px 0 54px 0;
    width: 1440px;
    box-sizing: border-box;
}
.adminPageAppManage .app-nupan {
    margin-right: 18px;
    width: 1159px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}
.adminPageAppManage .line-5 {
    background: #000000;
    margin-bottom: 39px;
    width: 1440px;
    height: 1px;
}
.adminPageAppManage .admin {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}
.adminPageAppManage .sing-in-confirm-bt {
    margin-bottom: 27px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}
.adminPageAppManage .store-user-bt {
    margin-bottom: 27px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}
.adminPageAppManage .app-user-bt {
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}
.adminPageAppManage .line-8 {
    background: #4097E8;
    margin: 0 2px;
    align-self: flex-start;
    width: 150px;
    height: 3px;
}
.adminPageAppManage .menu-list {
    margin: 0 61.9px 570px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.adminPageAppManage .container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.adminPageAppManage .phone-number {
    margin: 0 11.8px 12px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
.adminPageAppManage .phone-number-space {
    border: 1px solid #000000;
    background: #FFFFFF;
    width: 188px;
    height: 41px;
}
.adminPageAppManage .user-name-space {
    border: 1px solid #000000;
    background: #FFFFFF;
    width: 188px;
    height: 41px;
}
.adminPageAppManage .user-name {
    margin: 0 18.7px 12px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
.adminPageAppManage .account-info {
    border: 1px solid #000000;
    background: #FFFFFF;
    position: relative;
    margin-top: 99px;
    display: flex;
    flex-direction: row;
    padding: 34px 0 0 28px;
    width: 1023px;
    height: 636px;
    box-sizing: border-box;
}
.adminPageAppManage .delete-bt-1 {
    border-radius: 10px;
    background: #D9D9D9;
    position: relative;
    margin-bottom: 55px;
    display: flex;
    padding: 9px 1px 9px 0;
    width: 88px;
    height: fit-content;
    box-sizing: border-box;
}
.adminPageAppManage .delete-1 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
.adminPageAppManage .account-1 {
    border: 1px solid #000000;
    background: #FFFFFF;
    position: relative;
    margin-right: 18px;
    display: flex;
    flex-direction: row;
    padding: 11px 0 11px 7px;
    width: 784px;
    height: fit-content;
    box-sizing: border-box;
}
.adminPageAppManage .ellipse-1 {
    border-radius: 40px;
    background: #D9D9D9;
    margin-right: 15.4px;
    width: 80px;
    height: 80px;
}
.adminPageAppManage .user-name-1 {
    margin: 0 0.1px 15px 0.1px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
.adminPageAppManage .user-mailemail-com {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
.adminPageAppManage .container-1 {
    margin: 0 71.8px 59px 98px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1270.2px;
    box-sizing: border-box;
}
.adminPageAppManage .container-2 {
    margin: 0 71px 0 76px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
}
.adminPageAppManage .container-3 {
    margin-right: 71px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 675px;
    box-sizing: border-box;
}
.adminPageAppManage .container-4 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.adminPageAppManage .container-5 {
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}