.adminPageStoreManage {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vh 0 54px 0;
    box-sizing: border-box;
}
.adminPageStoreManage .logoContainer {
    margin: 0 8vw 5vh 4vw;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: space-between;
    width: 90%;
    box-sizing: border-box;
}
.adminPageStoreManage .app-nupan {
    margin-right: 18px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}
.adminPageStoreManage .admin {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}
.adminPageStoreManage .line-5 {
    background: #000000;
    margin-bottom: 28px;
    width: 100%;
    height: 1px;
}


.adminPageStoreManage .itemContainer {
    margin: 0 71px 0 4vw;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
    align-self: flex-start;
}
.adminPageStoreManage .menu-list {
    margin: 0 61.9px 573px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.adminPageStoreManage .manageContainer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.adminPageStoreManage .searchContainer {
    margin: 0 1px 0 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    width: 675px;
    box-sizing: border-box;
    flex-wrap: wrap;
}


/*검색컨테이너*/
.adminPageStoreManage .nameSearchContainer {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.adminPageStoreManage .userSearchContainer {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}
.adminPageStoreManage .phoneSearchContainer {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
}
/*검색컨테이너*/

/*검색텍스트*/
.adminPageStoreManage .store-name {
    margin: 5px 18.7px 12px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
.adminPageStoreManage .user-name {
    margin: 5px 18.7px 12px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
.adminPageStoreManage .phone-number {
    margin: 5px 18.7px 12px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}

.adminPageStoreManage .sign-in-confirm-bt {
    margin-bottom: 27px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}
.adminPageStoreManage .store-user-bt {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}
.adminPageStoreManage .app-user-bt {
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}
.adminPageStoreManage .line-8 {
    background: #4097E8;
    margin: 0 2.1px 24px 1px;
    width: 205px;
    height: 3px;
}
.adminPageStoreManage .account-info {
    border: 1px solid #000000;
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 34px 0 0 28px;
    width: 1023px;
    height: 636px;
    box-sizing: border-box;
}

.adminPageStoreManage .delete-bt-1 {
    border-radius: 10px;
    background: #D9D9D9;
    position: relative;
    margin-bottom: 55px;
    display: flex;
    padding: 9px 21px 9px 22px;
    width: 88px;
    height: fit-content;
    box-sizing: border-box;
}
.adminPageStoreManage .delete-1 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
.adminPageStoreManage .store-1 {
    border: 1px solid #000000;
    background: #FFFFFF;
    position: relative;
    margin-right: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 11px 9px 17px;
    width: 784px;
    height: fit-content;
    box-sizing: border-box;
}
.adminPageStoreManage .store-1-name {
    margin-right: 18px;
    width: 568px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}
.adminPageStoreManage .store-1-user-name {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}

.adminPageStoreManage .store-1-phon-num {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
.adminPageStoreManage .store-1-adress {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
.adminPageStoreManage .store-name-space {
    border: 1px solid #000000;
    background: #FFFFFF;
    width: 188px;
    height: 41px;
}

.adminPageStoreManage .account-name-space {
    border: 1px solid #000000;
    background: #FFFFFF;
    width: 188px;
    height: 41px;
}


.adminPageStoreManage .phone-number-space {
    border: 1px solid #000000;
    background: #FFFFFF;
    width: 188px;
    height: 41px;
}
.adminPageStoreManage .container {
    margin: 0 21.9px 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 734.1px;
    box-sizing: border-box;
}



.adminPageStoreManage .container-4 {
    margin-left: 0.4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 755.6px;
    box-sizing: border-box;
}




/*
.adminPageStoreManage .store-1-ofice {
    margin-right: 14.5px;
    width: 124.5px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
*/