.input-13,
.input-15 {
    position: relative;
    font-weight: 600;
}
.input-13 {
    width: 77px;
    display: inline-block;
    min-width: 77px;
}
.input-11 {
    position: relative;
    font-weight: 500;
}
.input-13-parent,
.input-15-parent {
    display: flex;
    align-items: flex-start;
}
.input-13-parent {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    text-align: center;
    font-size: var(--font-size-5xl);
}
.input-15-parent {
    width: 279px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-3xs);
}
.input-14 {
    position: relative;
    font-weight: 600;
}
.input-14-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-5xl);
}
.input-12 {
    position: relative;
    font-size: var(--font-size-5xl);
    font-weight: 600;
    text-align: center;
}
.frame-parent6,
.storeinfo11 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-3xs);
}
.storeinfo11 {
    flex: 1;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--padding-lg) var(--padding-xs) var(--padding-4xs)
    var(--padding-base);
    min-width: 510px;
    max-width: 100%;
    gap: var(--gap-xl);
}
.btnsub-3 {
    width: 45px;
    position: relative;
    font-size: var(--font-size-5xl);
    font-weight: 600;
    font-family: var(--font-inter);
    color: var(--color-black);
    text-align: center;
    display: inline-block;
    min-width: 45px;
}
.confirm-bt-3 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-4xs) var(--padding-2xl);
    background-color: var(--color-gainsboro);
    border-radius: var(--br-3xs);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.confirm-bt-3:hover,
.deny-bt-3:hover {
    background-color: var(--color-silver);
}
.btncan-3 {
    width: 45px;
    position: relative;
    font-size: var(--font-size-5xl);
    font-weight: 600;
    font-family: var(--font-inter);
    color: var(--color-black);
    text-align: center;
    display: inline-block;
    min-width: 45px;
}
.confirm-bt-3-parent,
.deny-bt-3,
.storeinfo1-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.deny-bt-3 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-4xs) var(--padding-2xl);
    background-color: var(--color-gainsboro);
    border-radius: var(--br-3xs);
    flex-direction: row;
}
.confirm-bt-3-parent,
/*.storeinfo1-parent {*/
/*    flex-direction: column;*/
/*    gap: var(--gap-5xs);*/
/*}*/
.storeinfo1-parent {
    width: 890px;
    flex-direction: row;
    gap: var(--gap-lg);
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-11xl);
    color: var(--color-black);
    font-family: var(--font-inter);
}
@media screen and (max-width: 1050px) {
    .input-14,
    .input-15 {
        font-size: var(--font-size-5xl);
    }
    .storeinfo1-parent {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 750px) {
    .storeinfo11 {
        flex-wrap: wrap;
        min-width: 100%;
    }
}
@media screen and (max-width: 450px) {
    .input-15 {
        font-size: var(--font-size-lg);
    }
    .input-11,
    .input-13 {
        font-size: var(--font-size-lgi);
    }
    .input-13-parent {
        flex-wrap: wrap;
    }
    .input-14 {
        font-size: var(--font-size-lg);
    }
    .btncan-3,
    .btnsub-3,
    .input-12 {
        font-size: var(--font-size-lgi);
    }
}
